.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.copyright-title {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin: 0;
  width: 75%;
}
